$color-main: #069b5f;

$color-black: #000;
$color-white: #fff;
$color-light-grey: #dbe6f6;
$color-grey: #9195b1;
$color-dark-grey: #3c3f41;
$color-link: #ffffff;
$color-rating: #ff9b24;
$color-red: #d40000;
$color-orange: #ff9955;
$color-background: #a4a4a4;
$color-header-footer: #372766;
$color-font: #e0e0e0;
$color-table-label: #51398e;
$color-add-button: #757575;
$color-card: #8164bf;
$color-input-form: #494949;
$color-hover-card: #b392f2;

$image-dir: '../../src/assets/img/1.jpg';

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

$font-family: 'Exo', sans-serif;
$font-size-big: 30px;
$font-size-md: 23px;
$font-size-sm: 18px;
$font-size-tiny: 16px;
$font-size-xs: 14px;

$border-radius: 3px;

$header-height: 50px;

$footer-height: 50px;

$closebutton-position: right top
