html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $color-background;
  }

.container {
  background-image: url("../../src/assets/img/background.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: $header-height auto $footer-height;
  grid-template-areas:
      "h h h h h h h h h h h h"
      "m c c c c c c c c c c c"
      "f f f f f f f f f f f f";
  > div {
    display: flex;
    justify-content: center;
  }

  ul.label--container {
    display: flex;
  }

  ul.tips--container {
    margin: 5px;
  }

  input[type="text"] {
    background: $color-add-button;
    color: $color-font;
  }
  ::placeholder {
    color: $color-font;
  }

  .select--field {
    font-size: 10px;
    height: 25px;
    width: 85px;
    overflow: hidden;
    border-radius: 15px;
    border: 0;
    background: $color-add-button;
    color: $color-font;
  }

  /*.icon {
    grid-column: 1 / 3;
    background: $color-header-footer;
  }*/

  .header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    position: relative;
    background: $color-header-footer;
    .target--choice {
      position: absolute;
      right: 10px;
    }
  }

  .menu {
    position: relative;
    grid-column: 1 / 3;
    .menu--container {
      margin: 25px 0;
      display: grid;
      grid-template-columns: 160px;
      grid-template-rows: 50px auto 50px;
      .rules--title {
        background: $color-table-label;
        grid-row: 1;
        color: $color-font;
        text-align: center;
      }
      .rules--text {
        margin: 0;
        background: $color-white;
        grid-row: 2;
        .paragraph {
          margin: 5px;
          font-size: 15px;
          color: $color-add-button;

        }
      }
      .add--button--div {
        background: $color-white;
        grid-row: 3;
        .add--button {
          margin-left: 40px;
          font-weight: bold;
          font-size: 10px;
          background: $color-add-button;
          border: 0;
          width: 80px;
          height: 40px;
          border-radius: 20px;
          color: $color-font;
        }
      }
      .tooltip {
        .close--button {
          position: absolute;
          right: 2px;
          top: 0;
          color: $color-add-button;
          font-family: Arial;
        }
        .add--form {
          height: 70px;
          width: max-content;
          .input--form {
            width: 140px;
            margin: auto;
            background: $color-input-form;
          }
          .form--actions {
            display: flex;
            margin-top: 15px;
            .button--form {
              font-size: 10px;
              margin-left: 15px;
              width: 40px;
              height: 25px;
              border-radius: 15px;
              border: 0;
              color: $color-font;
              font-weight: bold;
              background: $color-add-button;
            }
          }
        }
      }
    }

  }

  .content {
    position: relative;
    grid-column: 3 / -1;
    .separated--container {
      position: absolute;
      overflow-y: scroll;
      overflow-x: visible;
      top: 10px;
      bottom: 10px;
      margin: 15px 0;
      .labels--div {
        background: $color-table-label;
        .label--container {
          display: grid;
          padding: 0;
          grid-template-columns: 350px 150px 100px 50px;
          grid-template-rows: 50px;
          grid-gap: 10px;
          background: $color-table-label;
          margin: 0 15px;
          .li--column {
            list-style-type: none;
            margin: auto;
            text-align: center;
            font-size: 15px;
          }
        }
      }
      .popup--translation {
        width: 200px;
        height: 100px;
        position: fixed;
        top: 250px;
        left: 1000px;
        border: 2px solid #494949;
        border-radius: 10px;
        background: $color-add-button;
        .first--string, .second--string {
          display: flex;
          height: 50px;
          .popup--word{
            text-align: center;
            width: 140px;
          }
          .popup--info {
            padding: 0 10px;
          }
          .popup--lang {
            text-align: center;
            margin-left: 20px;
            width: 40px;
          }
        }
      }
      .cards {
        .cards--container {
          display: grid;
          grid-template-columns: 350px 150px 100px 50px;
          grid-template-rows: 60px;
          background: $color-card;
          border-radius: 10px;
          /*height: 60px;*/
          margin: 15px;
          grid-gap: 10px;
          .card--column {
            margin: auto;
            text-align: center;
          }
          &:hover{
           border: $color-table-label solid 2px;
          }
        }
      }
    }
  }

  .footer {
    grid-column: 1 / -1;
    background: $color-header-footer;
    .linkToWebsite {
      color: $color-font;
    }
  }

  .separated--container {
    background: white;
  }
}


